ul.bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.bar {
  float: left;
}

li.bar a.bar {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li.bar a.bar:hover {
  background-color: #111;
}

.active_bar {
  background-color: #03b1fc;
}

.contact100-form-title{
font-size: 32px;
}

.percent{
text-align: right;
}

.results{
font-size: 30px;
}
.center {
  display: block;
  width: 50%;
  margin-left: 90%;
  martin-top: 10%;
  float: right;
  vertical-align: right;
  padding-left: 40%;
}
