<!DOCTYPE html>
<head>  <link href="{{ url_for('static', filename='css/home_style.css') }}" rel="stylesheet">    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_8a503e3164f94c09ae57312a59aa04d4 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>  <nav>
      <ul class="bar nav">
        <li class="bar"><a href=./ class="active_bar bar">Home</a></li>
        <li class="bar"><a href=./form class="bar">Submit Symptoms</a></li>
        <li class="bar"><a href=./about class="bar">About</a></li>
      </ul>
    </nav>
   
    
            <div class="folium-map" id="map_8a503e3164f94c09ae57312a59aa04d4" ></div>
        
</body>
<script>    
    
            var map_8a503e3164f94c09ae57312a59aa04d4 = L.map(
                "map_8a503e3164f94c09ae57312a59aa04d4",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: true,
                }
            );

            

        
    
            var tile_layer_ef26c511396e480f9e9cba06e3b7e9cb = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_8a503e3164f94c09ae57312a59aa04d4);
        
    
            var tile_layer_40c243de90e6416f9a2b9cd6c8a23c54 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_8a503e3164f94c09ae57312a59aa04d4);
        
    
            var circle_marker_9b1b80c2ef5c4c54b0b3c421d6eed5b1 = L.circleMarker(
                [44.98050843677087, -93.22381636866623],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#336600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 102.33004968952758, "stroke": true, "weight": 1}
            ).addTo(map_8a503e3164f94c09ae57312a59aa04d4);
        
    
        var popup_62466efdfc87439abf811fe7921b9fb5 = L.popup({"maxWidth": "100%"});

        
            var html_e099943ee4ee4c2187f0aabd260ba618 = $(`<div id="html_e099943ee4ee4c2187f0aabd260ba618" style="width: 100.0%; height: 100.0%;">Listing: <a href="adsf"target="_blank">buttwhole aids</a><br>Host: <a href="hey"target="_blank">15 people died</a></div>`)[0];
            popup_62466efdfc87439abf811fe7921b9fb5.setContent(html_e099943ee4ee4c2187f0aabd260ba618);
        

        circle_marker_9b1b80c2ef5c4c54b0b3c421d6eed5b1.bindPopup(popup_62466efdfc87439abf811fe7921b9fb5)
        ;

        
    
    
            var circle_marker_b2741bee87a9417d82eddb1f169a6d33 = L.circleMarker(
                [44.95663642789118, -93.23224181739329],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#336600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 21.918680756834128, "stroke": true, "weight": 1}
            ).addTo(map_8a503e3164f94c09ae57312a59aa04d4);
        
    
        var popup_0aa4e68a13ef4b998c9b8350ae65699f = L.popup({"maxWidth": "100%"});

        
            var html_28f3e155b3b5479b821046bf830ec624 = $(`<div id="html_28f3e155b3b5479b821046bf830ec624" style="width: 100.0%; height: 100.0%;">Listing: <a href="adsf"target="_blank">buttwhole aids</a><br>Host: <a href="hey"target="_blank">15 people died</a></div>`)[0];
            popup_0aa4e68a13ef4b998c9b8350ae65699f.setContent(html_28f3e155b3b5479b821046bf830ec624);
        

        circle_marker_b2741bee87a9417d82eddb1f169a6d33.bindPopup(popup_0aa4e68a13ef4b998c9b8350ae65699f)
        ;

        
    
    
            var circle_marker_d2309f75593249c1a89bc866f591d308 = L.circleMarker(
                [44.91023637815164, -93.4754213779675],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#336600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 369.0906805833638, "stroke": true, "weight": 1}
            ).addTo(map_8a503e3164f94c09ae57312a59aa04d4);
        
    
        var popup_de5508e8a93f47f88271a4018ffa232d = L.popup({"maxWidth": "100%"});

        
            var html_e43d00c5cf9941f9b6f13feeebec680f = $(`<div id="html_e43d00c5cf9941f9b6f13feeebec680f" style="width: 100.0%; height: 100.0%;">Listing: <a href="adsf"target="_blank">buttwhole aids</a><br>Host: <a href="hey"target="_blank">15 people died</a></div>`)[0];
            popup_de5508e8a93f47f88271a4018ffa232d.setContent(html_e43d00c5cf9941f9b6f13feeebec680f);
        

        circle_marker_d2309f75593249c1a89bc866f591d308.bindPopup(popup_de5508e8a93f47f88271a4018ffa232d)
        ;

        
    
    
            map_8a503e3164f94c09ae57312a59aa04d4.fitBounds(
                [[44.91023637815164, -93.4754213779675], [44.98050843677087, -93.22381636866623]],
                {}
            );
        
</script>